{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.{md,markdown}",
      "options": {
        "proseWrap": "always",
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 80,
        "singleQuote": false
      }
    }
  ]
}
